<nav id="navbar" class="navbar navbar-expand-md position-fixed top-0 left-0 start-0 end-0 bg-body-secondary text-white position-relative w-auto mx-auto z-3 px-5">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">TransactionApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav p-0 fw-bolder">
                <li class="nav-item px-2">
                    <a class="nav-link" aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#graph">Graph</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>