<section class="my-5 bg-body-tertiary p-5" id="graph">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 mx-auto">
                <div class="section-heading text-center py-2">
                    <h2 class="fw-bolder text-capitalize">Customer Graph.</h2>
                </div>
                <canvas id="myChart"></canvas>
                <canvas id="myChart3"></canvas>
            </div>
            <div class="col-md-6 mx-auto">
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
</section>
