<!-- <a routerLink="chart">Chart</a> -->
<!-- LOADING -->
<div id="loading"
    class="loading d-flex position-fixed top-0 start-0 end-0 bottom-0 bg-primary justify-content-center align-items-center">
    <i id="loading-icon" class="fa fa-spinner fa-spin-pulse fa-5x text-white"></i>
</div>
<section>
    <app-navbar></app-navbar>
    <div class="container">
        <app-customer-table></app-customer-table>
        <app-customer-graph></app-customer-graph>
        <app-contact></app-contact>
        <app-footer></app-footer>
    </div>
</section>
<footer class="bg-dark">
    <div class="footer py-3 w-100 text-center text-white d-flex flex-column justify-content-center align-items-center">
        <p class="mt-3 text-white">Copy Right 2024 © By Hussein Ragab All Rights Reserved</p>
    </div>
</footer>